.grid-container { 
  display: grid; grid-template-columns: auto auto auto;
  padding: 5px;
 } 
 .grid-item { 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px; font-size: 30px; text-align: center; 
}

.card:hover {
  transform: translateY(-2px);

}


#ma {

  opacity: 0.2;
}

#boxer {
 
  
  background:rgba(205,206,255,0.1);
}

body  {
 background-color: #f5f5f5;
  
 
}